{# {% extends layout.html %} #}

<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ホーム</title>

        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <h1>見出し(1-6)</h1>

        <p>段落</p>

        <a href="http://127.0.0.1:5000">リンク</a>

        {% if 1 in [1, 2, 3] %}
            <p>分岐(if, elif, else)</p>
        {% endif %}

        <ul>
            {% for i in range(3) %}
                <li>forループ</li>
            {% endfor %}
        </ul>

        <ol>
            {% for i in range(3) %}
                <li>forループ</li>
            {% endfor %}
        </ol>
    </body>
</html>